<template>
  <v-form v-model="validForm">
    <v-row>
      <v-col>
        <v-text-field
          v-model="value.title"
          label="Title of Question"
          :disabled="disableFields"
          @change="$emit('input', value)"
          :rules="[v => !!v || 'Title is required']"
          color="green"
          autofocus
          required
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-radio-group
          label="Question Type"
          v-model="questionType"
          @change="$emit('questionTypeChange', questionType)"
        >
          <v-radio value="multipleChoice" label="Multiple Choice" color="green"></v-radio>
          <v-radio value="textQuestion" label="Text Question" color="green"></v-radio>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-text-field
          v-model="value.questionText"
          label="Actual Question"
          :disabled="disableFields"
          @change="$emit('input', value)"
          :rules="[v => !!v || 'Question is required']"
          color="green"
          required
        ></v-text-field>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  name: "QuestionForm",
  props: {
    value: {
        type: Object,
    },
    disableFields: Boolean,
    questionType: String,
  },
  data: () => ({
    validForm: false,
  }),
  watch: {
    validForm: function(newValidity) {
      this.$emit("validation", newValidity);
    }
  }
};
</script>

<style scoped>
</style>
