<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <p class="display-1">{{scoreBoard.name}}</p>
            </v-col>
        </v-row>

        <v-row>
<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">Place</th>
          <th class="text-left">Total</th>
          <th class="text-left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in scoreBoard.players" :key="item.user_id">
          <td>{{ item.place }}</td>
          <td>{{ item.total }}</td>
          <td>{{ item.user_name }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>
        </v-row>

    </v-container>
</template>


<script>
    import Axios from 'axios';

    export default {
        name: "LeagueList",
        data: () => ({
            scoreBoard: []
        }),

        created() {
            this.fetchData();
        },

        methods: {
            fetchData() {
                    const token = this.$root.$data.user.token;
                    Axios.get('/scoreBoard?userId='+this.$root.$data.user.id,
                    {
                        headers: {
                            'Authorization': `Bearer ${token}`,
                            'Accept': 'application/json',
                        }
                    })
                        .then((response) => {
                            this.scoreBoard = response.data;
                        });
            }
        }
    }
</script>

<style>

</style>
